<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app="trtApp">
	{% block content %}
	{% endblock %}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>
